<div class="row justify-space-between-md new-cont">
  <div class="login-card">
    <h2 class="page-title">Create a Post</h2>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="new-post-title" />
      </div>
      <div class="form-group">
        <label for="post-description">Text</label>
        <input class="form-input" type="post-description" id="new-post-description" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="new-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

  <script src="/js/newPost.js"></script>